# Byte-compiled / optimized / DLL files
server/__pycache__/
server/controllers/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo


# Local config files
config/local*

# Temporary files
.vscode/launch.json
.gitconfig

#Dataset
server/Dataset_v1.npy
Dataset/
logs/
static/

.env
.env.*

server/*.jpg
server/*.png

server/controllers/__pycache__
**/__pycache__/