.Main{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.AdminList{
    background-color: white;
    position: relative;
    height: 100%;
    padding: 20px 10px;
    border-radius: 10px;
}


.ant-statistic-title {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.733);
  font-size: 18px;
}

