.Main{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.AdminList{
    background-color: white;
    position: relative;
    height: 100%;
    padding: 20px 10px;
    border-radius: 10px;
}




