 .btn-wrapper {
  text-align: center;
}

/*
.ant-btn {
  background-color: #0F3460;
  color: white;
  border: none;
  border-radius: 5px;
  width: 40%;
}

.w-50 {
  width: 50%;
}



.main-btn {
  background-color: #0F3460;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
}

.main-btn-wrap {
  margin: 0 auto;
  text-align: center;
} */
