.main-card{
  margin: 0px 10px;
  -webkit-box-shadow: 0px 10px 24px -11px rgb(114, 41, 90);
  -moz-box-shadow: 0px 10px 24px -11px rgb(114, 41, 90);
  box-shadow: 0px 10px 24px -11px rgb(114, 41, 90);
}
.main-card .player{
z-index: 99999999 !important;
width: 100% !important;
height: 200px !important;
}



.ant-card-meta-description .vid-card{
  min-height: 12vh !important;
}

.video-del-icon{
  color: rgb(255, 96, 96) !important;
}

.video-del-icon:hover{
  color: rgb(228, 32, 32) !important;
}