.ant-menu-item span.anticon{
  font-size: 1.2rem !important;
  vertical-align: 0.05em !important;
}
.trigger {
  font-size: 20px ;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
      color: #115594;
    }
    
.logo {
  height: 52px;
  background: rgba(255, 255, 255, 0);
  margin: 16px;
  color: white;
  text-align: center;
}

.site-layout .site-layout-background {
  background: rgb(255, 255, 255);
  margin: 0px 0px !important;
}

.ant-layout-sider{
  background-color: #4E1A3D ;
}

.ant-layout-sider .ant-menu{
  background-color: #4E1A3D ;

}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: rgb(132, 47, 104);

}