.logo img{
  background-color: transparent;
  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.logo-icon {
  float: left;
  height: 100%;
}

.Logo{
  background-color: transparent;
  height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.fav-icon{
  color: red!important;
  font-size: 1.2rem !important;
}

.fav-icon:hover{
  color: rgb(218, 0, 0) !important;
  font-size: 1.2rem !important;
}